/* styles.css */
body {
    background-image: url('webback.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; /* Centers the image */
    font-family: Arial, sans-serif;
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1{
    color: white;
}

.container {
    text-align: center;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.path {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.skill {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 120px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    cursor: not-allowed;
    transition: background-color 0.3s, border-color 0.3s;
    margin: 0 10px
}
.skill.enabled {
    cursor: pointer; /* Change cursor to pointer when enabled */
}
.skill.completed {
    background-color: #4caf50;
    border-color: #4caf50;
    color: #fff;
}

.connector {
    width: 50px;
    height: 2px;
    background-color: #ccc;
}
